@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/pkg/Rajdhani-Light.woff2') format('woff2'),
    url('./fonts/pkg/Rajdhani-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/pkg/Rajdhani-Regular.woff2') format('woff2'),
    url('./fonts/pkg/Rajdhani-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/pkg/Rajdhani-Medium.woff2') format('woff2'),
    url('./fonts/pkg/Rajdhani-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
font-family: 'Rajdhani';
src: url('./fonts/pkg/Rajdhani-SemiBold.woff2') format('woff2'),
  url('./fonts/pkg/Rajdhani-SemiBold.woff') format('woff');
font-weight: 600;
font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/pkg/Rajdhani-Bold.woff2') format('woff2'),
    url('./fonts/pkg/Rajdhani-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  }